<div class="my-3">
    <h3>From Event</h3>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Add Video</div>
                <div class="card-body">
                    <button #addVideoBtn class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Add Video</div>
                <div class="card-body">
                    <ul id="AddChildElement">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>