<div class="my-3">
    <h2>Exhaust Map</h2>
    <br>
    <br>
    <div>
        <h3>Save Data</h3>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-5 mr-auto">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <button class="btn btn-success" #btn>Save Data</button>
                    <!-- <button class="btn btn-success" *ngIf="fetching" disabled>
                    <span *ngIf="fetching" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                    </button> -->
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Save Request : </strong> {{num}}
            </p>
        </div>
    </div>
</div>