<div class="my-3">
    <div class="row">
        <div class="col-md-4">
            <h2>Concat Map</h2>
            <strong>Ex - 01 | ConcatMap</strong>
            <p>Mobile Notification Example</p>
        </div>
        <div class="col-md-8">
            <div class="iphone-x">
              <i>Speaker</i>
              <b>Camera</b>
              <s>10:24</s>

              <div class="notification" id="elContainer">
                  <!-- <div class="item"> -->
                      <!-- <div class="header">
                          <div class="app">
                              <img src="assets/facebook.jpg" alt="Facebook icon" width="20">
                              Facebook
                          </div>
                          <div class="time">4 Second Ago.</div>
                      </div>
                      <div class="body">
                          <img src="https://placeimg.com/50/50/tech/4" class="item-img">
                          <strong>Alax Johnson</strong>
                          <p>Commented on your #jayamVerma Post: Awesome post!!! Thanks..</p>
                      </div> -->
                  <!-- </div> -->
              </div>
              
              <span>Left action button</span>
              <span>Right action button</span>
            </div>
        </div>
    </div>
</div>