<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container">
        <a class="navbar-brand" href="#">Observable & Promises</a>
        <strong class="btn btn-primary" *ngIf="exclusive">Exclusive</strong>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="promise" routerLinkActive="active">Promise</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="observable" routerLinkActive="active">Observable</a>
                </li>
            </ul>
        </div>
    </div>
</nav>