<div class="my-3">
  <h2>Pluck</h2>
  <br />
  <div class="row">
    <div class="col-md-4">
      <strong>Ex - 01</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded"><strong>Pluck: </strong> by property</p>
      <br />
      <table class="table">
        <tr>
          <th>Name</th>
        </tr>
        @for (item of data; track item.id) {
          <tr>
            <td>{{ item }}</td>
          </tr>
        }
      </table>
    </div>
    <div class="col-md-4">
      <strong>Ex - 02</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded"><strong>Pluck: </strong> by nested property</p>
      <br />
      <table class="table">
        <tr>
          <th>Job > title</th>
        </tr>
        @for (item of data2; track item.id) {
          <tr>
            <td>{{ item }}</td>
          </tr>
        }
      </table>
    </div>
  </div>
</div>
