<div class="row">
    <div class="col-md-12">
        <ul class="list">
            <li><a class="custom-btn btn-16" routerLink="from-event">From event</a></li>
            <li><a class="custom-btn btn-16" routerLink="interval">Interval</a></li>
            <li><a class="custom-btn btn-16" routerLink="of-from">Of From</a></li>
            <li><a class="custom-btn btn-16" routerLink="to-array">To Array</a></li>
            <li><a class="custom-btn btn-16" routerLink="custom">Custom</a></li>
            <li><a class="custom-btn btn-16" routerLink="map">Map</a></li>
            <li><a class="custom-btn btn-16" routerLink="pluck">Pluck</a></li>
            <li><a class="custom-btn btn-16" routerLink="filter">Filter</a></li>
            <li><a class="custom-btn btn-16" routerLink="tap">Tap</a></li>
            <li><a class="custom-btn btn-16" routerLink="take">Take, TakeLast & TakeUntil</a></li>
            <li><a class="custom-btn btn-16" routerLink="retry">Retry, RetryWhen, Scan & Delay</a></li>
            <li><a class="custom-btn btn-16" routerLink="debouncetime">DebounceTime & DistinctUntilChanged</a></li>
            <li><a class="custom-btn btn-16" routerLink="subject">Subject and Behaviour Subject</a></li>
            <li><a class="custom-btn btn-16" routerLink="replay-subject">Replay Subject</a></li>
            <li><a class="custom-btn btn-16" routerLink="async-subject">Async Subject</a></li>
            <li><a class="custom-btn btn-16" routerLink="concat">Concat</a></li>
            <li><a class="custom-btn btn-16" routerLink="merge">Merge</a></li>
        </ul>
    </div>
</div>